.link-items{
    display: flex;
}
.link-items>li{
    margin: 10px;
    list-style: none;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: rgb(255, 0, 72);
    font-weight: 900;
}
input{
    color: rgb(1, 1, 253);
}

input:focus{
    color: brown;
    border: 1px solid brown;
    outline: 0;
}

list:last-child{
    color: aqua;
}